{% block penta %}

	<h1>Ebene 4 - Penta</h1>

	<h4>Allgemein</h4>

	<p>
		Das Penta-Kraftfeld ergibt sich aus den Toren unmittelbar zwischen Sakral- und Selbstzentrum, sowie Selbst- und Kehlzentrum.
						Die Energien in diesen Toren sind maßgeblich ausschlagengebend für das erfolgreiche Zusammenspiel innerhalb von Gemeinschaften,
						sei es ein Team in einem Unternehmen oder aber eine Familie. Um eine vollständige Penta-Analyse durchzuführen, muss man hier demnach
						alle Penta-Kraftfelder übereinander legen und erhält dadurch das Penta-Kraftfeld der Gemeinschaft. Je vollständiger das Penta-Kraftfeld
						ausgefüllt ist, desto besser wird das Team langfristig funktionieren.
	</p>


	<div class="penta-wrapper">
		<div class="hex-grid__list">

			<div class="penta hex-grid__item penta-placeholder"></div>
			<div class="penta hex-grid__item penta-placeholder"></div>

			<div class="penta hex-grid__item penta-8 {{ (bodygraph.hasGate(8)) ? 'active' : '' }}">
				<div class="penta-content">
					<div class="penta-gate">8</div>
					<div class="penta-title">Präsenz</div>
				</div>
			</div>

			<div class="penta hex-grid__item penta-placeholder"></div>
			<div class="penta hex-grid__item penta-placeholder"></div>


			<div class="penta hex-grid__item penta-31 {{ (bodygraph.hasGate(31)) ? 'active' : '' }}">
				<div class="penta-content">

					<div class="penta-gate">31</div>
					<div class="penta-title">Struktur</div>
				</div>
			</div>

			<div class="penta hex-grid__item penta-placeholder"></div>

			<div class="penta hex-grid__item penta-1  {{ (bodygraph.hasGate(1)) ? 'active' : '' }}">
				<div class="penta-content">

					<div class="penta-gate">1</div>
					<div class="penta-title">Umsetzung</div>
				</div>
			</div>

			<div class="penta hex-grid__item penta-placeholder"></div>

			<div class="penta hex-grid__item penta-33  {{ (bodygraph.hasGate(33)) ? 'active' : '' }}">
				<div class="penta-content">
					<div class="penta-gate">33</div>
					<div class="penta-title">Umsicht</div>
				</div>
			</div>

			<div class="penta hex-grid__item penta-placeholder"></div>

			<div class="penta hex-grid__item penta-7  {{ (bodygraph.hasGate(7)) ? 'active' : '' }}">
				<div class="penta-content">
					<div class="penta-gate">7</div>
					<div class="penta-title">Planung</div>
				</div>
			</div>

			<div class="penta hex-grid__item penta-2  {{ (bodygraph.hasGate(2)) ? 'active' : '' }}">
				<div class="penta-content">
					<div class="penta-gate">2</div>
					<div class="penta-title">Fokus</div>
				</div>
			</div>


			<div class="penta hex-grid__item penta-13  {{ (bodygraph.hasGate(13)) ? 'active' : '' }}">
				<div class="penta-content">
					<div class="penta-gate">13</div>
					<div class="penta-title">Auswertung</div>

				</div>
			</div>
			<div class="penta hex-grid__item penta-placeholder"></div>
			<div class="penta hex-grid__item penta-placeholder"></div>

			<div class="penta hex-grid__item penta-placeholder"></div>


			<div class="penta hex-grid__item penta-14  {{ (bodygraph.hasGate(14)) ? 'active' : '' }}">
				<div class="penta-content">
					<div class="penta-gate">14</div>
					<div class="penta-title">Kapazität</div>
				</div>
			</div>

			<div class="penta hex-grid__item penta-placeholder"></div>
			<div class="penta hex-grid__item penta-placeholder"></div>
			<div class="penta hex-grid__item penta-placeholder"></div>
			<div class="penta hex-grid__item penta-5  {{ (bodygraph.hasGate(5)) ? 'active' : '' }}">
				<div class="penta-content">
					<div class="penta-gate">5</div>
					<div class="penta-title">Kultur</div>
				</div>
			</div>


			<div class="penta hex-grid__item penta-placeholder"></div>


			<div class="penta hex-grid__item penta-29  {{ (bodygraph.hasGate(29)) ? 'active' : '' }}">
				<div class="penta-content">
					<div class="penta-gate">29</div>
					<div class="penta-title">Commitment</div>
				</div>
			</div>
			<div class="penta hex-grid__item penta-placeholder"></div>
			<div class="penta hex-grid__item penta-placeholder"></div>


			<div class="penta hex-grid__item penta-15  {{ (bodygraph.hasGate(15)) ? 'active' : '' }}">
				<div class="penta-content">
					<div class="penta-gate">15</div>
					<div class="penta-title">Verlässlichkeit</div>
				</div>
			</div>


			<div class="penta hex-grid__item penta-placeholder"></div>
			<div class="penta hex-grid__item penta-46  {{ (bodygraph.hasGate(46)) ? 'active' : '' }}">
				<div class="penta-content">
					<div class="penta-gate">46</div>
					<div class="penta-title">Koordination</div>
				</div>
			</div>
			<div class="penta hex-grid__item penta-placeholder"></div>

		</div>
	</div>
{% endblock %}
